@import '../../../shared/styles/app/variables.scss';
@import '../../../shared/styles/app/media-queries.scss';
// @import '../../../../assets/projects/mangol/src/lib/assets/scss/lib/_ol.scss';

.map {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  .ol-control {      
    border-radius: 4px;
    padding: 2px
}

.elements-left {
  right: 0;
  top: 55px;
  position: absolute;
  z-index: 10;
}

button{
    margin-bottom: 10px;
    display: block;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    color: white;
    background-color: #51c6ea;
}
.mat-mini-fab {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent;
    margin: 5px;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    /* transform: translate3d(0,0,0); */
    /* transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1); */
    min-width: 0;
    border-radius: 50%;
    width: 40px;
    padding: 0;
    flex-shrink: 0;
}

.home-container {
    .home-logo {
        width: 240px;
    }

    .home-text {
        @media only screen and (max-width: $mq-tablet) {
            text-align: center;
        }
    }
}

h2 {
    color: #00A5DF;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  p {
    color: #001818;
  }
  /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
  #content {
    margin-top:10px;
    margin-right:10px;
    width: 220px;
}
#photos{
    margin-top: 15px;
}
.dropdown-menu{
    // color: #F3F3DD;
    background-color: #00A5DF;
    border-color: #999999;
    box-shadow: 3px 3px 2px #454545;
}
  #navigator{
    background: #51c6ea;
    // color: #fff;
    height: 30px;   
    border-radius: 5px;
}
img{
    height: 40px;
    width: 40px;
    float:left;
    margin-left: -3px;
    margin-top: 6px;
    margin-right: 10px;
 }

