<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="elements-left" id="content">
    <app-layer-control></app-layer-control>
    <app-zoom-measurement></app-zoom-measurement>
</div>
<div class="elements-right">
    <div  id="measurement">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Result of measuring tool: </h3><samp id="js-result"> n/a</samp>
            </div>
        </div>
    </div>
</div>
<div id="map" class="map"></div>
