<div class="aside-inner">
    <nav class="sidebar" sidebar-anyclick-close="" [class.show-scrollbar]="settings.layout.asideScrollbar">
        <ul class="nav">
            <li class="nav-heading" [routerLinkActive]="['active']">
                <span >Main Navigation</span>            
            </li>
            <li class="item-heading" [routerLinkActive]="['active']">
                <a title="2D Viewer"
                    (click)="toggleSubmenuClick($event)" (mouseenter)="toggleSubmenuHover($event)">
                        <em class="icon-map" ></em>
                        <span>2D Viewer</span>
                </a>
                
                <ul class="nav sidebar-subnav" [routerLinkActive]="['opening']">
                    <li class="sidebar-subnav-header">2D Viewer</li>
                        <!-- Layer selector inside 2D category -->
                        <li class="sidebar-subnav-item" [routerLinkActive]="['active']">
                            <a title="Select layers"
                                (click)="toggleModal($event)">
                                <em class="icon-plus"></em>
                                <span>Select layers</span>
                            </a>              
                        </li>
                        <!-- <div class="radio" *ngFor="let layer of layers; let i = index">
                        <input id="check{{i}}" type="checkbox" (click)="addHero(i, layer.layerName )" [checked] = false>{{ layer.layerName }}
                        </div>                         -->
                    <!-- <li class="nav-heading" [routerLinkActive]="['active']">
                        <span >Base Layers</span>            
                    </li>

                        <div class="radio" *ngFor="let tileLayer of tileLayers; let i = index">
                            <label  class="radio layer">{{ tileLayer.name }}
                                <input (click)="updateTileLayer(i)" id="{{ i }}" type="radio" name="is_company" [checked]="tileLayer.visible">
                                <span class="checkround"></span>
                            </label>    
                        </div> -->
                </ul>                
            </li>
            <!-- <li class="item-heading" [routerLinkActive]="['active']">
                <a title="2D Viewer"
                    (click)="toggleModal($event)">
                        <em class="icon-plus"></em>
                        <span>Open modal</span>
                </a>          
            </li>               -->
        </ul>
    </nav>
</div>
